src/lib/n8n-workflows/import_temp.json
[{"name":"🔥 Trending Influencer Ideas — Scrape + Local Ollama","nodes":[{"parameters":{"httpMethod":"POST","path":"trending-character-ideas","responseMode":"lastNode","options":{}},"id":"node-webhook","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[100,300]},{"parameters":{"url":"https://www.reddit.com/r/VirtualInfluencer+AIArt+artificial+aiinfluencer/top.json?limit=15&t=day","options":{"timeout":12000,"responseFormat":"json","headers":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"}]}}},"id":"node-reddit-ai","name":"Reddit — AI Influencer Subs","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[350,100]},{"parameters":{"url":"https://www.reddit.com/r/instagramreality+Instagram+aiinfluencer/hot.json?limit=15","options":{"timeout":12000,"responseFormat":"json","headers":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"}]}}},"id":"node-reddit-insta","name":"Reddit — Instagram Trends","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[350,290]},{"parameters":{"url":"https://trends.google.com/trends/trendingsearches/daily/rss?geo=IN","options":{"timeout":10000}},"id":"node-trends-india","name":"Google Trends — India","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[350,470]},{"parameters":{"url":"https://trends.google.com/trends/trendingsearches/daily/rss?geo=US","options":{"timeout":10000}},"id":"node-trends-us","name":"Google Trends — US","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[350,650]},{"parameters":{"url":"https://www.reddit.com/search.json?q=ai+influencer+aesthetic+trending&sort=new&limit=10&t=day","options":{"timeout":10000,"responseFormat":"json","headers":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"}]}}},"id":"node-reddit-search","name":"Reddit — Search AI Aesthetic","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[350,840]},{"parameters":{"jsCode":"// === SCRAPE AGGREGATOR ===\n// Pulls trending signals from all 5 sources into a clean context string\nconst signals = [];\n\n// Helper: strip HTML tags and trim\nconst clean = (s) => String(s || '').replace(/<[^>]+>/g, '').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').trim();\n\n// 1. Reddit AI Influencer subs\ntry {\n  const data = $('Reddit — AI Influencer Subs').item.json;\n  const posts = data?.data?.children || [];\n  posts.forEach(p => {\n    const t = clean(p.data?.title);\n    const score = p.data?.score || 0;\n    if (t && t.length > 10) signals.push({ src: 'Reddit/AIInfluencer', signal: t, heat: score });\n  });\n} catch(e) {}\n\n// 2. Reddit Instagram subs\ntry {\n  const data = $('Reddit — Instagram Trends').item.json;\n  const posts = data?.data?.children || [];\n  posts.forEach(p => {\n    const t = clean(p.data?.title);\n    const score = p.data?.score || 0;\n    if (t && t.length > 10) signals.push({ src: 'Reddit/Instagram', signal: t, heat: score });\n  });\n} catch(e) {}\n\n// 3. Google Trends India\ntry {\n  const xml = clean($('Google Trends — India').item.json?.data || '');\n  const matches = [...xml.matchAll(/<title>([^<]{5,80})<\\/title>/g)];\n  matches.slice(0, 8).forEach(m => signals.push({ src: 'GoogleTrends/IN', signal: clean(m[1]), heat: 500 }));\n} catch(e) {}\n\n// 4. Google Trends US\ntry {\n  const xml = clean($('Google Trends — US').item.json?.data || '');\n  const matches = [...xml.matchAll(/<title>([^<]{5,80})<\\/title>/g)];\n  matches.slice(0, 8).forEach(m => signals.push({ src: 'GoogleTrends/US', signal: clean(m[1]), heat: 400 }));\n} catch(e) {}\n\n// 5. Reddit AI aesthetic search\ntry {\n  const data = $('Reddit — Search AI Aesthetic').item.json;\n  const posts = data?.data?.children || [];\n  posts.forEach(p => {\n    const t = clean(p.data?.title);\n    if (t && t.length > 10) signals.push({ src: 'Reddit/Search', signal: t, heat: p.data?.score || 0 });\n  });\n} catch(e) {}\n\n// Sort by heat score, top 20\nsignals.sort((a, b) => b.heat - a.heat);\nconst top = signals.slice(0, 20);\n\n// Build a tight context string for Ollama\nconst contextLines = top.map(s => `[${s.src}] ${s.signal}`).join('\\n');\n\nreturn [{ json: { contextLines, signalCount: top.length, scrapedAt: new Date().toISOString() } }];"},"id":"node-aggregate","name":"Aggregate Signals","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,470]},{"parameters":{"jsCode":"// === LOCAL OLLAMA — Generate Ideas from Real Trends ===\nconst ctx = $input.item.json.contextLines || 'no signals';\nconst today = new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });\n\nconst prompt = `You are a top Instagram growth strategist who creates AI virtual influencer characters.\\nToday is ${today}.\\n\\nHere are REAL trending signals scraped RIGHT NOW from Reddit and Google Trends:\\n${ctx}\\n\\nAnalyze these signals and generate exactly 8 unique AI virtual influencer character concept ideas that will BLOW UP on Instagram and TikTok RIGHT NOW based on these trends.\\n\\nEach idea must be:\\n- A specific, culturally authentic character (not generic)\\n- Based on actual patterns in the signals above\\n- Designed to go viral on Instagram, TikTok, or Pinterest\\n- Have a distinctive visual aesthetic\\n\\nReturn ONLY a compact JSON array of 8 objects:\\n[{\"title\":\"short archetype name\",\"niche\":\"2-3 sentence specific character concept for DNA generator including ethnicity, age, aesthetic, content niche\",\"why_trending\":\"1 sentence exactly why this will go viral based on the signals\",\"aesthetic\":\"3 words max visual style\",\"platform\":\"Instagram|TikTok|Pinterest\",\"emoji\":\"1 emoji\"}]`;\n\nlet ideas = null;\ntry {\n  const res = await $http.request({\n    method: 'POST',\n    url: 'http://127.0.0.1:11434/api/generate',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      model: 'qwen3:1.7b',\n      prompt: prompt,\n      stream: false,\n      format: 'json',\n      options: { temperature: 0.9, num_predict: 1500, top_p: 0.9 }\n    })\n  });\n  \n  let raw = (res.response || '').replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n  const match = raw.match(/\\[[\\s\\S]*\\]/);\n  if (match) {\n    ideas = JSON.parse(match[0]);\n  }\n} catch(e) {\n  // Try fallback to 1.7b if 4b fails\n  try {\n    const res = await $http.request({\n      method: 'POST',\n      url: 'http://127.0.0.1:11434/api/generate',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        model: 'qwen3:1.7b',\n        prompt: prompt,\n        stream: false,\n        format: 'json',\n        options: { temperature: 0.85, num_predict: 1200 }\n      })\n    });\n    let raw = (res.response || '').replace(/<think>[\\s\\S]*?<\\/think>/gi, '').trim();\n    const match = raw.match(/\\[[\\s\\S]*\\]/);\n    if (match) ideas = JSON.parse(match[0]);\n  } catch(e2) {}\n}\n\nif (!ideas || !ideas.length) {\n  return [{ json: { error: 'Ollama failed to generate ideas', ideas: [] } }];\n}\n\nreturn [{ json: { ideas, generated_at: new Date().toISOString(), count: ideas.length, signal_count: $input.item.json.signalCount } }];"},"id":"node-ollama","name":"Ollama — Generate Ideas","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,470]},{"parameters":{"options":{"responseCode":200}},"id":"node-respond","name":"Respond to Dashboard","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1300,470]}],"pinData":{},"connections":{"Webhook Trigger":{"main":[[{"node":"Reddit — AI Influencer Subs","type":"main","index":0},{"node":"Reddit — Instagram Trends","type":"main","index":0},{"node":"Google Trends — India","type":"main","index":0},{"node":"Google Trends — US","type":"main","index":0},{"node":"Reddit — Search AI Aesthetic","type":"main","index":0}]]},"Reddit — AI Influencer Subs":{"main":[[{"node":"Aggregate Signals","type":"main","index":0}]]},"Reddit — Instagram Trends":{"main":[[{"node":"Aggregate Signals","type":"main","index":1}]]},"Google Trends — India":{"main":[[{"node":"Aggregate Signals","type":"main","index":2}]]},"Google Trends — US":{"main":[[{"node":"Aggregate Signals","type":"main","index":3}]]},"Reddit — Search AI Aesthetic":{"main":[[{"node":"Aggregate Signals","type":"main","index":4}]]},"Aggregate Signals":{"main":[[{"node":"Ollama — Generate Ideas","type":"main","index":0}]]},"Ollama — Generate Ideas":{"main":[[{"node":"Respond to Dashboard","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"meta":{"templateCredsSetupCompleted":true},"tags":[{"name":"trending-ideas"},{"name":"no-api-key-needed"}]}]